<!-- <ul class="nav">
  <li class="nav-item">
    <a [routerLink]="[ '/home' ]" routerLinkActive="active">Add Song</a>
  </li>
  <li class="nav-item">
      <a [routerLink]="[ '/blog' ]" routerLinkActive="active">Blog</a>
  </li>
</ul> -->


<h5>Example of BusService working</h5>
<h6>Include the component is active or not, it catch if some event was triggered and it has the ON of that specific event</h6>
<span>It doesn't work to keep info, just to update what the user is seeing </span>

<hr>
<router-outlet></router-outlet>